<!DOCTYPE html>
<html>
  <head>
    <title>PotluckApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class = navbar>
     <div class="topnav" id="siteWideNav">
       <button class="btn btn-info"><%= button_to "Register", "/users/new", method: :get %></button>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
